<div class="container">
  <form class="form">
    <h2>Contact me</h2>
    <div class="form-group form-name">
      <div class="content">
        <label for="firstName">First Name</label>
        <input type="text" />
      </div>
      <div class="content">
        <label for="lastName">Last Name</label>
        <input type="text" />
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email Adress</label>
      <input type="email" />
    </div>
    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" />
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
  <div class="container-img">
    <img
      src="https://images.unsplash.com/photo-1682687982502-b05f0565753a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dhttps://images.unsplash.com/photo-1682687982502-b05f0565753a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
  </div>
</div>
