@use "variables" as va;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.wrapper {
  flex: 1 0 300px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  text-transform: uppercase;
  font-weight: normal;
}

.form-name {
  display: flex;
  gap: 15px;

  .content {
    width: 50%;
  }
}

.btn {
  background: black;
  color: white;
  padding: 11px;
}

.image {
  height: 500px;
  img {
    width: 100%;
    border-radius: 12px;
  }
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 11px;
  &::after {
    margin-left: 7px;
    content: "(Required)";
    font-weight: normal;
    font-size: 12px;
  }
}

input,
textarea {
  box-sizing: border-box;
  color: va.$granite-gray;
  border: 1px solid va.$granite-gray;
  border-radius: 7px;
  padding: 7px;
  width: 100%;
  &:focus {
    color: va.$black;
    border-color: va.$black;
  }
}

textarea {
  height: 200px;
}
