@use "variables" as va;
@use "mixins" as mx;

.container {
  @include mx.full;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.title {
  color: va.$coral-red;
}

.list {
  display: flex;
  gap: 25px;

  &-item:hover {
    .link {
      color: va.$black;
    }
  }
}

.active {
  color: va.$black;
}
