@use "variables" as va;
@use "mixins" as mx;
@use "breakpoints" as bp;

.container {
  @include mx.full;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.title {
  color: va.$coral-red;
}

.list {
  display: flex;
  gap: 25px;

  &-item:hover {
    .link {
      color: va.$black;
    }
  }

  @media screen and (max-width: bp.$small-screen) {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.active {
  color: va.$black;
}
