@use "mixins" as mx;

.wrapper {
  display: flex;
  flex-wrap: wrap;

  &-text,
  &-image {
    flex: 1 0 300px;
    margin: 10px;
  }
  &:nth-child(1) {
    flex-direction: row-reverse;
  }
}

img {
  width: 100%;
  height: 500px;
}
