@use "breakpoints" as bp;

.container {
  display: grid;
  grid-template:
    ". nav ."
    ". main ."
    "footer footer footer";
  grid-template-rows: 10vh repeat(1, minmax(80vh, 2fr)) 10vh;
  grid-template-columns: 0.3fr 3fr 0.3fr;
  gap: 10px 0;
}

.nav {
  grid-area: nav;
}

.router-wrapper {
  grid-area: main;
  position: relative;
}

.footer {
  grid-area: footer;
}

@media screen and (max-width: bp.$small-screen) {
  .container {
    grid-template:
      "nav"
      "main"
      "footer";
    grid-template-rows: 10vh repeat(1, minmax(80vh, 2fr)) 10vh;
  }

  .nav,
  .router-wrapper {
    padding: 0 10px;
  }
}
