@use "variables" as va;
@use "mixins" as mx;

* {
  font-family: sans-serif;
  color: #646464;
}

body,
html {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

img {
  @include mx.full;
  object-fit: cover;
}
