* {
  font-family: sans-serif;
  color: #646464;
}

body,
html {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  &::hover {
    cursor: pointer;
  }
}
